/.vscode
/1.javascripttheory.html
/a.exe
/angela.js
/animation.html
/bhul.html
/bom.html
/calculatot.html
/carasoul.html
/display.html
/dom.html
/es6.html
/events.html
/file2.txt
/fl2.html
/flexbox.html
/grid.html
/html.html
/i.html
/index.html
/intropage.html
/java.html
/javascript new cwh.html
/net.html
/new.html
/newfile.txt
/newgame.html
/newnext.html
/next.html
/node.js
/node_modules
/omkk.html
/oops.html
/package.json
/practise.html
/python.py
/randomno.html
/randomquotegenerator.html
/regix.html
/size.html
/styles.css
/tail
/tailwindcss
/trees.cpp
/trees.exe
/wholejavascript.html
/x.html
/zomato.html